article.post
  margin-bottom: 1em
  padding: 1em 0
  border-bottom: 1px solid lightblue
  img
    max-width: 100%
  h1, h2
    margin-bottom: 0
  section.post-summary
    padding: .5em 0
  section.post-body
    padding-top: 1em
    .img-show
      display: block
      margin-bottom: 2em
    .thubm
      float: left
      margin-right: 1em

.editor
  min-height: 300px