<!DOCTYPE html>
<html>
  <head>
    <title>Blog2</title>
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container-fluid" >
     <nav class="navbar navbar-expand-lg navbar-light bg-light ">
       <a class="navbar-brand" href="#">Blog</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="sr-only">Toggle navigation</span>
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">

        </li>
          <li class="nav-item">
            <%= link_to "Рус", { locale: :ru}, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "En", { locale: :en}, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= posts_path %>">Статьи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>
        </ul>
       </div>
     </nav>
   </div>
   <div class="container main">
     <div class="row">
       <div class="col-md-12">
         <% flash.each do |name, message| %>
           <div class="alert alert-<%= name %>">
             <%= message %>
           </div>
         <% end %>
       </div>
     </div>
     <div class="row">
       <div class="col-md-9">
         <%= yield %>
       </div>
     </div>

     <div class="row">
       <div class="col-md-3">
         <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag,css_class| %>
           <%= link_to tag.name, tag_path(tag.name), class: css_class %>
         <% end %>
       </div>
     </div>
   </div>
  </body>
</html>
